# Android / Gradle
local.properties
.gradle/
**/build/
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml

# Signing (si alguna vez los generás)
*.jks
*.keystore
keystore.properties

# Service accounts
**/*service-account*.json

# SO
.DS_Store
