<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aferrari.login">

    <application>
        <activity
            android:name="com.aferrari.login.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="login"
                    android:scheme="@string/host_app_name" />
            </intent-filter>
        </activity>
    </application>

</manifest>